<!-- End of Events sorting -->
<section class="clearfix bg-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="bg-search-white" style="transform: none; position: static; left:0%">
          <form class="form-inline" action="/users" method="get">
            <div class="form-group" style="width: 30%;">
              <div class="searchSelectbox">
                <select name="sport" id="sport" class="select-drop">
                  <% Sport.all.each do |sport| %>
                  <option value="<%= sport.id%>"><%=sport.name%></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group" style="width: 30%;">
              <div class="searchSelectbox">
                <select name="city_name" id="city_name" class="select-drop">
                  <% @unique_users.each do |event| %>
                    <option value="<%= event.city %>"><%=event.city%></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group" style="width: 31%;">
              <div class="btn-group" style="text-align:center"></div>
              <button type="submit" class="btn btn-primary pull-right text-nowrap" style="width: 40%;">Filter</button>
              <button type="button" class="btn btn-primary pull-left text-nowrap" onclick="location.href='/';" value="Reset" style="width: 40%;">Reset</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>







<div class="users_index">
  <% @users_sort.each do |user|%>
  <% if user.id != current_user.id %>
  <div class="row" style="border: 1px solid black;">
    <div class="col-3">
      <img onclick="javascript:location.href='users/<%=user.id%>'" src="<%=user.profile_url%>" alt="User Image" style="width:100px;"> 
    </div>
    <div class="col-6 user_information">      
        <h1>Username: <%=user.username %></h1>
        <h1>City: <%=user.city %></h1>
        <h1>E-mail: <%=user.email %></h1>
        <h1>Sports:
          <ul>
            <% user.sports.each do |sport| %>
              <li><%=sport.name %></li>
            <% end %>
          </ul>
        </h1>
        <h1> 
            Chat with: <%= button_to(user_chats_path(current_user, :user => user.id), method: :post) do %>
            <%= user.username %>
            <% end %>
        </h1>     
    </div>
  </div>
  <% end %>
  <% end %> 
</div>

