
<br>

<div class='circle-images'>
  <h1>Sort by sport</h1>
  <a class="circle-image" href="/users?sort=1">
    <img src="<%=Sport.find(1).image_url%>" alt="Tennis">
  </a> 
  <a class="circle-image" href="/users?sort=2">
    <img src="<%=Sport.find(2).image_url%>" alt="Tennis">
  </a> 
</div>



<div class="users_index">
  <% @users.each_with_index do |user, index|%>
  <div class="row"  style="border: 1px solid black;">
    <div class="col-3">
      <img src="<%=user.profile_url%>" onclick="javascript:location.href='users/<%=user.id%>'" alt="User Image" style="width:100px;"> 
    </div>
    <div class="col-6 user_information">
      <h1>Username: <%=user.username %></h1>
      <h1>City: <%=user.city %></h1>
      <h1>E-mail: <%=user.email %></h1>
      <h1>Sports:
        <ul>
          <% user.sports.each do |sport| %>
            <li><%=sport.name %></li>
          <% end %>
        </ul>
      </h1>
      <tr>
            <td><%= index +=1 %></td>
            <td><%= user.username %></td>
            <td>
              <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                          "data-sid" => current_user.id, "data-rip" => user.id %>
            </td>
          </tr>
    </div>
  </div>
  <% end %> 
</div>

