<!-- End of Events sorting -->
<section class="clearfix bg-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="bg-search-white" style="transform: none; position: static; left:0%; margin-top: 70px;">
          <form class="form-inline" action="/users" method="get">
            <div class="form-group" style="width: 30%;">
              <div class="searchSelectbox">
                <select name="sport" id="sport" class="select-drop">
                  <% Sport.all.each do |sport| %>
                  <option value="<%= sport.id%>"><%=sport.name%></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group" style="width: 30%;">
              <div class="searchSelectbox">
                <select name="city_name" id="city_name" class="select-drop">
                  <% @unique_users.each do |event| %>
                    <option value="<%= event.city %>"><%=event.city%></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group" style="width: 31%;">
              <div class="btn-group" style="text-align:center"></div>
              <button type="submit" class="btn btn-primary pull-right text-nowrap" style="width: 40%;">Filter</button>
              <button type="button" class="btn btn-primary pull-left text-nowrap" onclick="location.href='/';" value="Reset" style="width: 40%;">Reset</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="clerfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="resultBar barSpaceAdjust">
          <h2>We found <span><%=@users_sort.count %></span> Results for you</h2>
        </div>
        <% @users_sort.each do |user|%>
        <div class="listContent">
          <div class="row">
            <div class="col-sm-5 col-xs-12">
              <div class="categoryImage">
                <img src="<%=user.profile_url%>" alt="Image category" class="img-responsive img-rounded" style="width: 350px;">
              </div>
            </div>
            <div class="col-sm-7 col-xs-12">
              <div class="categoryDetails">
                <h2><a href="/users/<%=user.id%>" style="color: #222222"><b><%=user.username %></b></a></h2>
                <p><b>City:</b> <%=user.city %></p>
                <p><b>Sports:</b> <% user.sports.each do |sport| %>
                  <ul>
                    <li><%= sport.name %> </li>
                  </ul>
                  <% end %>
                </p>
                <p><b>Chat with:</b> <%= button_to(user_chats_path(current_user, :user => user.id), method: :post, :class => 'btn btn-primary', :style => "width: 130px;") do %>
                  <%= user.username %>
                  <% end %>             
                </p>
              </div>
            </div>
          </div>
        </div>
        <% end %>


          <div class="paginationCommon blogPagination categoryPagination">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

