
<body class="body-wrapper" style="background-color: #eeeeee">
  <div class="page-loader" style="background: url(img/preloader.gif) center no-repeat #fff;"></div>
  <div class="main-wrapper">
    <!-- HEADER -->
    <header id="pageTop" class="header">

      


<!-- DASHBOARD PROFILE SECTION -->
<section class="clearfix bg-dark profileSection">
    <div class="container">
        <div class="row" style="margin-top: 100px;">
            <div class="col-md-4 col-sm-5 col-xs-12">
                <div class="dashboardBoxBg mb30">
                    <div class="profileImage">
                        <img src="<%=@user.profile_url%>" alt="Image User" class="img-circle" style="width: 150px">
                        <br>
                        <% if current_user.id.to_s == params[:id].to_s%>
                            <%= link_to "Edit User", edit_user_registration_path %>
                        <% end %>
                        <br>
                        <b>Chat with:</b> 
                        <%= button_to(user_chats_path(current_user, :user => @user.id), method: :post, :class => 'btn btn-primary') do %>
                            <%= @user.username %>
                        <% end %>             
                        

                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-12">
                <div class="dashboardBoxBg">
                    <div class="profileIntro">
                        <h2><%=@user.username%>'s  Profile</h2>
                    </div>
                </div>

                <div class="dashboardBoxBg mt30">
                    <div class="profileIntro">
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-12">
                                <h4>Username</h4>
                                <h5><%=current_user.username%></h5>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <h4>City</h4>
                                <h5><%=current_user.city%></h5>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <h4>E-mail</h4>
                                <h5><%=current_user.email%></h5>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <h4>Sports</h4>
                                <% @user.sports.each do |sport| %>
                                    <h5><%=sport.name%></h5>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




