<h1>Events</h1>

<%= link_to "Create new event", '/events/new' %>

<div class='circle-images'>
  <h1>Sort by sport</h1>
  <% Sport.all.each do |sport| %>
    <a class="circle-image" href="/events?sort=<%=sport.id%>">
      <img src="<%=sport.image_url%>" alt="sport.name">
    </a> 
  <% end %>
  <%= link_to 'Reset', '/events' %>
</div>

<% @events.each do |event| %>
  <div class="row" onclick="javascript:location.href='/events/<%=event.id%>'" style="border: 1px solid black;">
    <div class="col-3">
      <img src="<%=event.image_url%>" alt="event Image" style="width:100px;"> 
    </div>
    <div class="col-6 event_information">
      <h1>Title: <%=event.title %></h1>
      <h1>Description: <%=event.description %></h1>
      <h1>Start time: <%=event.beg_time %></h1>
      <h1>End time: <%=event.end_time %></h1>
      <h1>Maximum number of athletes: <%=event.max_athletes %></h1>
      <h2>Number of athletes attending</h2>
      <ul>
        <li><%= event.users.count%> / <%= event.max_athletes%></li>
      </ul>
      <h1>Location: <%=event.location %></h1>

      <h1>Sport: <%=event.sport.name %></h1>

      
    </div>
  </div>
<% end %>