<section class="clearfix signUpSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="signUpFormArea">
          <div class="priceTableTitle">
            <h2>Account Registration</h2>
            <p>Please fill out the fields below to create your account. We will send your account information to the email address you enter. Your email address and information will NOT be sold or shared with any 3rd party. If you already have an account, please, <a href="/users/sign_in">click here</a>.</p>
          </div>
          <div class="signUpForm">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="formSection">
                <h3>Contact Information</h3>
                <div class="row">
                  <div class="form-group col-sm-12 col-xs-12">
                    <%= f.label :username, :class => "control-label" %><br />
                    <%= f.text_field :username, autofocus: true, :class => "form-control" %>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <%= f.label :city, :class => "control-label" %><br />
                    <%= f.text_field :city, :class => "form-control" %>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <%= f.label :state, :class => "control-label" %><br />    
                    <%= select_tag :state, options_for_select(CS.states(:us).map { |arr| [arr[1], arr[0]] }), :class => "form-control" %>
                  </div>

                  <div class="form-group col-sm-12 col-xs-12">
                    <%= f.label :profile_url, :class => "control-label" %><br />
                        <%= f.text_field :profile_url, :class => "form-control" %>
                  </div>
                  <div class="form-group col-sm-12 col-xs-12">
                    <%= f.label :email, :class => "control-label" %><br />
                    <%= f.email_field :email, :class => "form-control"%>
                  </div>

                  <div class="form-group col-sm-6 col-xs-12">
                    <%= f.label :password, :class => "control-label" %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
                  </div>

                  <div class="form-group col-sm-6 col-xs-12">
                    <%= f.label :password_confirmation, :class => "control-label" %><br />
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
                  </div>

                  <div class="form-group col-sm-12 col-xs-12">
                    <%= f.label :sports, :class => "control-label" %><br />    
                    <%= select_tag(:sport_ids, options_from_collection_for_select(Sport.all, :id, :name), :multiple => true, :class => "form-control") %>
                  </div>

                </div>
              </div>
              
              <div class="formSection">
                <div class="row">
                  <div class="form-group col-xs-12 mb0">
                        <%= f.submit "Sign up", :class => "btn btn-primary", :style => "width: 105px;" %>
                  </div>
                </div>
                <div class="row">
                
                  <div style="margin: 20px 0 0 20px;">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





