<!DOCTYPE html>
<html>
  <head>
    <title>SportsPartnerFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
        <%= link_to "Ian Matthews", root_path, class: "name" %> 

        <nav>
            <%= link_to "Home", root_path %>              
            <%= link_to "Events", events_path  %>              
            <% if user_signed_in? %>            
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>  
            <% end %>    

            
        </nav>
    </header>

    <div class="container">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
    </div>
  </body>
</html>
